body{
    margin: 0px;
    padding: 0px;
}
#upper-half {
    width: 100%;
    height: 603px;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 90%;
}
#header{
    display:grid;
    margin: 30px 30px 0px 30px;
    grid-template-columns: 95% auto;
    justify-content: space-between;
}
input {
    background: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: white solid 4px;
    position: relative;
    display: block;
    outline: none;
    width: 50%;
    min-width: 230px;
    height: 30p;
    margin-bottom: 15px;
    color: white;
}
#stream
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:black;
}
#text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    -webkit-text-stroke: 0.05em whitesmoke;
    -webkit-text-fill-color: transparent;
}
.btn-1{
    font-family: Hack, monospace;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 3vw;
    padding: 1.5rem;
    border: 0;
    border-radius: 10px;
    width: auto;
    position: relative;
}
.btn-1:hover{
    background: white;
    transition: display 5s;
}
.btn-1:not(:hover) .hide {
    background: white;
    display: none;
}

.avg-img{
  width: 300px;
}
.avg-img:hover{
  transform: scale(1.08);
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /SOCIAL ICONS/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
   
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
   
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
